<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>iview example</title>
    <!-- import Vue.js -->
    <script src="http://vuejs.org/js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="http://unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>
<Button type="primary" @click="info">Display info prompt</Button>
<script>
    new Vue(

            {
                methods: {
                    info () {
                        this.$Message.info('This is a info tip');
                    }
                }
            }
    );
</script>
</html>